@model MeetingViewModel

<h3>Register</h3>
<hr>
<div class="col-6">
    <form asp-action="Edit" asp-controller="Meeting" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label asp-for="MeetingName" class="form-label"></label>
            <input asp-for="MeetingName" class="form-control">            
        </div>
        <div class="mb-3">
            <label asp-for="Subject" class="form-label"></label>
            <input asp-for="Subject" class="form-control">            
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>            
        </div>
        <div class="mb-3">
            <label asp-for="MeetingPhoto" class="form-label"></label>
            <input asp-for="MeetingPhoto" class="form-control" type="file" name="imageFile" id="imageFile">           
        </div>
        <div class="mb-3">
            <label asp-for="Location" class="form-label"></label>
            <input asp-for="Location" class="form-control">            
        </div>
        <div class="mb-3">
            <label asp-for="StartDate" class="form-label"></label>
            <input asp-for="StartDate" class="form-control">            
        </div>
        <div asp-validation-summary="All"></div>
        <button class="btn btn-secondary d-block" type="submit">Add</button>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.2.0/tinymce.min.js" integrity="sha512-E2dqytT185qVoAL0sfqr39BLHEBQtmZze59ChMjYi4vRUW6BzIBLZAqErdQAAAJX8bkFq2kQgQL9Lbpm8Uuw0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector : "#Description"
        })
    </script>
}

